icl_out/
wandb/
__pycache__/
ic1_attention_vis/layer0/*.png
ic1_attention_vis/layer1/*.png
ic2_attention_vis/layer0/*.png
ic2_attention_vis/layer1/*.png
iw_attention_vis/layer0/*.png
iw_attention_vis/layer1/*.png
train_attention_vis/layer0/*.png
train_attention_vis/layer1/*.png

ic1_attention_vis/*.gif
ic2_attention_vis/*.gif
iw_attention_vis/*.gif
train_attention_vis/*.gif
runs/*